---
import Graph from '../components/Graph.svelte';
import Synth from '../components/Synth.svelte';

let title = 'My Astro Site';
---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <link rel="stylesheet" href="/style/global.css">

    <style>
        header {
            margin-bottom: 10rem;
        }
    </style>
</head>
<body>
    <Graph client:visible />
    <Synth client:visible />
    <div style="height: 200vh; background: linear-gradient(90deg, #f0f0f0 0%, #f0f0f0 50%, #202020 50%, #202020 100%)"></div>
</body>
</html>
