<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<style>
	pre {
		white-space: pre-wrap;       /* Since CSS 2.1 */
		white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
		white-space: -pre-wrap;      /* Opera 4-6 */
		white-space: -o-pre-wrap;    /* Opera 7 */
		word-wrap: break-word;       /* Internet Explorer 5.5+ */
		width: 100vw;
	}
</style>
</head>
<body>
	<script>
		const audioContext = new (window.AudioContext || window.webkitAudioContext)();

		const visualizeAudio = fetch('/assets/alone_in_space.mp3')
			.then((res) => res.arrayBuffer())
			.then((buffer) => audioContext.decodeAudioData(buffer))
			.then((buffer) => {
				const left = buffer.getChannelData(0);
				const right = buffer.getChannelData(1);
				const block = 1000;
				const amount = Math.floor(left.length / block);
				const filtered_data = [];
				for(let i = 0; i < amount; i++) {
					let avg = 0;
					for(let j = 0; j < block; j++) {
						avg += Math.abs(left[i * block + j]) + Math.abs(right[i * block + j]);
					}
					filtered_data.push(avg / (block * 2));
				}

				const max = Math.max(...filtered_data);
				for(let i in filtered_data) {
					filtered_data[i] = filtered_data[i] / max;
				}

				document.body.innerHTML = `<code><pre>${JSON.stringify(filtered_data)}</pre></code>`;

			});
	</script>
</body>
</html>